<!DOCTYPE html>
<head>
    <title>Help·HousePoints</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
 <body>
  <header>
    <nav>
      <ul>
        <li><u>Home</u></li>
        {% if 'UserId' in session %} 
        <li><a href="/profile">Profile</a></li>
        <li><a href="/HousePoints/Manage">Manage</a></li>
        <li>Help</li>
        <li><a href="/auth/logout">Logout</a></li>
        {% else %}
        <li><a href="/auth/login">Login</a></li>
        {% endif %}
      </ul>
    </nav>
</header>
    <body>
        <h2> Welcome to the House Points system. </h2>
        <p>To add house points click on the Manage tab. Once it loads enter the amount of housepoints you would like to add next to the house's name. Make sure you are typing in the field after the + symbol.</p>
        <p></p>


    </body>
</html>